<section class="about" id="about">

    <h1 class="heading"> <span>about us</span>  </h1>

    <div class="row">

        <div class="image">
            <img src="assets/aboutimg1.jpg" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Established in 2007, health care Hospital is a multi-specialty, tertiary care Hospital that lays its foundation on a ‘Patient first’ ideology. The hospital caters to all branches of medicine right from birthing and new born care up to cancer and multi-organ transplants.            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
            <p>Situated in the vicinity of the arterial Eastern Express Highway, Jupiter Hospital is the epitome of medical innovations and quality healthcare that offers easy connectivity and accessibility to patients from all the nodes across Thane and Pune.          
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>